@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "../style/style_auth.css";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  color-scheme: light;
}

/* Import Vietnam map styles */
@import '../style/vietnammap.css';